/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
}

iframe {
    width: 90vw;
    margin: 15px 0px;
}

/* Títulos */
h2 {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    border-bottom: 10px solid #568acc;
}

/* Contine los article de las bandas */
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
}

/* Contiene foto, nombre de la banda, fecha y boton */
article {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

/* Nombre de la banda*/
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #1f5c99;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 69px;
    background-color: rgba(255, 255, 255, 0.75);
    width: 97%;
}

/* Fecha del recital */
p i {
    font-size: 2rem;
    color: #568acc;
}
p.fecha {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Boton comprar */
a, button.boton-eliminar {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
    background-color: #1f5c99;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s;
}

button.boton-eliminar {
    margin-left: 5px;
}

a:hover {
    opacity: 0.75;
}

/* Media query celular */
@media only screen and (max-width: 600px) {

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    img.imagen-banda { 
        width: 95vw;
        margin-bottom: 10px;
    }
}

/* Media query tablet */
@media only screen and (min-width: 600px) {
    
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    img {
        width: 40vw;
        margin-bottom: 10px;
    }
}

/* Media query laptop */
@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
    }

    img {
        width: 25vw;
        margin-bottom: 10px;
    }
}